:root{
    --appBackground: #e9e9e9;
    --headerHeight: 64px;
    --footerHeight: 70px;
    --footerBackground: #fff;
    --primaryColor: #0093ff;
    --primaryColorOp: #0093ff22;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body{
    height:100%;
    width:100%;
    position: relative;
    background-color: var(--appBackground);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: var(--headerHeight);
    width: 100%;
    background-color: red;
}
.mainContent{
    height: calc(100% - var(--headerHeight));
}
.screen {
    padding: 1rem;
    box-sizing: border-box;
}
.mainContent #home{
    height: 100%;
    width: 100%;
}
.mainContent #home section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mainContent #home section .title{
    font-size: 1.6rem;
    margin: 1rem 0 0.4rem 0;
}
.mainContent #home section .quest {
    --colorBg1: #0000000f;
    --colorBg2: #00000011;
    --colorBg3: #00000055;
    width: 100%;
    height: 5rem;
    margin: 0.2em 0;
    background-color: var(--colorBg1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 0.2rem var(--colorBg2);
    cursor: pointer;
}
.mainContent #home section .quest .info {
    width: calc(100% - 5rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.6rem;
    color: var(--colorBg3);
}
.mainContent #home section .quest .info .name {
    padding-right: 1rem;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainContent #home section .quest .info .points {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorBg3);
}
.mainContent #home section .quest .checkBox {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    background-color: var(--colorBg2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContent #home section .quest .checkBox svg{
    width: 70%;
    height: 70%;
    color: var(--primaryColor);
}
.mainContent #home section .quest.completed{
    --colorBg1: var(--primaryColorOp);
    --colorBg2: var(--primaryColorOp);
    --colorBg3: var(--primaryColor);
}
footer{
    height: var(--footerHeight);
    width: 100%;
    position: absolute;
    bottom: 0;
}
#navbar_bubble{
    height: var(--footerHeight);
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar_bubble .action{
    z-index: 9;
    position: relative;
    height: var(--footerHeight);
    aspect-ratio: 1/1 ;
    overflow: hidden;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    font-size: calc(var(--footerHeight)*0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    cursor: pointer;
    padding: 0;
    bottom: 0;
    color: var(--primaryColor);
}

#navbar_bubble .action svg, #navbar_bubble .action svg, #navbar_bubble .action .iconFilled, #navbar_bubble .action .iconOutline{
    width: calc(var(--footerHeight)*0.4);
    height: calc(var(--footerHeight)*0.4);
}
#navbar_bubble .action:not(.active) .iconFilled{
    display: none;
}
#navbar_bubble .action.active .iconOutline{
    display: none;
}
#navbar_bubble .action.active{
    bottom: calc(var(--footerHeight)/2);
    color: #fff;
}
#navbar_bubble .bubbleContent{
    position: absolute;
    z-index: 1;
    width: 200%;
    height: 100%;
    left: -50%;
    bottom: 0%;
}
#navbar_bubble .bubbleContent .bubbleElem{
    position: absolute;
    height: var(--footerHeight);
    bottom: calc(var(--footerHeight)/2);
    z-index: 5;
    aspect-ratio: 1/1 ;
    overflow: hidden;
    border-radius: 100%;
    background-color: var(--primaryColor);
    left: 50%;
    transform: translateX(-50%);
}
#navbar_bubble .bubbleContent .bubbleLeft, #navbar_bubble .bubbleContent .bubbleRight{
    position: absolute;
    z-index: 3;
    width: calc(50%);
    height: 100%;
    bottom: 0%;
    background-color: var(--footerBackground);
}
#navbar_bubble .bubbleContent .bubbleLeft{
    right: calc(50% + var(--footerHeight)*0.54);
    border-top-right-radius: calc(var(--footerHeight)*0.25);
}
#navbar_bubble .bubbleContent .bubbleRight{
    left:  calc(50% + var(--footerHeight)*0.54);
    border-top-left-radius:  calc(var(--footerHeight)*0.25);
}

#navbar_bubble .bubbleContent .bubbleCenter{
    position: absolute;
    z-index: 2;
    width: calc(var(--footerHeight)*1.1);
    height: calc(var(--footerHeight)*0.8);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    overflow: hidden;
}
#navbar_bubble .bubbleContent .bubbleCenter .scoopLeft::after, #navbar_bubble .bubbleContent .bubbleCenter .scoopRight::after{
    content: '';
    position: absolute;
    z-index: 2;
    width: calc(var(--footerHeight)*0.58);
    height: calc(var(--footerHeight)*1);
    corner-shape: scoop;
    bottom: 0;
    background-color: var(--footerBackground);
}
#navbar_bubble .bubbleContent .bubbleCenter .scoopLeft::after{
    border-top-right-radius: calc(var(--footerHeight)*0.7);
    left:calc(var(--footerHeight)*-0.02);
}
#navbar_bubble .bubbleContent .bubbleCenter .scoopRight::after{
    border-top-left-radius: calc(var(--footerHeight)*0.7);
    right:calc(var(--footerHeight)*-0.02);
}