:root{
    --appBackground: #e9e9e9;
    --headerHeight: 64px;
    --footerHeight: 70px;
    --footerBackground: #fff;
    --primaryColor: #00b991;
    --primaryColorOp: #00b99122;
    --secondaryColor: #eb2e5a;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
::-webkit-scrollbar{
    width: 0;
}
* {
    -webkit-tap-highlight-color: transparent;
}
html, body{
    height:100%;
    width:100%;
    position: relative;
    background-color: var(--appBackground);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: var(--headerHeight);
    width: 100%;
    background-color: red;
}
.modalOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: #00000055;
}
.modal {
    --modalPadding: 0.4rem;
    --modalRadius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    min-height: 12rem;
    max-height: 90%;
    background: var(--appBackground);
    padding: var(--modalPadding);
    box-sizing: border-box;
    border-radius: var(--modalRadius);
    z-index: 999;
}
.modal .modalContent {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: inherit;
    max-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
}
.modal .modalContent .modalInfo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.6rem;
}
.modal .taskTitle {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}
.modal input {
    margin-bottom: var(--modalPadding);
    height: 1rem;
    width: 2rem;
}
.modal input[type="text"] {
    width: calc(100% - var(--modalPadding) / 2);
    height: calc(3rem - var(--modalPadding) / 2);
    border-radius: calc(var(--modalRadius) - var(--modalPadding));
    border: none;
    outline: none;
    padding: 0.2rem 0.8rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.modal input.taskRewardInput {
    padding: 0.2rem 0.8rem 0.2rem 2.4rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%2300b991' class='icon icon-tabler icons-tabler-filled icon-tabler-bolt'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M13 2l.018 .001l.016 .001l.083 .005l.011 .002h.011l.038 .009l.052 .008l.016 .006l.011 .001l.029 .011l.052 .014l.019 .009l.015 .004l.028 .014l.04 .017l.021 .012l.022 .01l.023 .015l.031 .017l.034 .024l.018 .011l.013 .012l.024 .017l.038 .034l.022 .017l.008 .01l.014 .012l.036 .041l.026 .027l.006 .009c.12 .147 .196 .322 .218 .513l.001 .012l.002 .041l.004 .064v6h5a1 1 0 0 1 .868 1.497l-.06 .091l-8 11c-.568 .783 -1.808 .38 -1.808 -.588v-6h-5a1 1 0 0 1 -.868 -1.497l.06 -.091l8 -11l.01 -.013l.018 -.024l.033 -.038l.018 -.022l.009 -.008l.013 -.014l.04 -.036l.028 -.026l.008 -.006a1 1 0 0 1 .402 -.199l.011 -.001l.027 -.005l.074 -.013l.011 -.001l.041 -.002z'/%3E%3C/svg%3E");
    background-position: 3% center;
    background-repeat: no-repeat;
    color: var(--primaryColor);
}
.modal .modalContent .actions {
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal .modalContent .actions button {
    height: 100%;
    width: calc(50% - var(--modalPadding)/2);
    border-radius: calc(var(--modalRadius) - var(--modalPadding));
    border: none;
    outline: none;
    font-size: 1.3rem;
}
.modal .modalContent .actions button.confirm {
    background-color: var(--primaryColor);
    color: #fff;
}
.modal .modalContent .actions button.cancel {
    background-color: var(--secondaryColor);
    color: #fff;
}
.modal .redeemableMessage, .redeemableTotal {
    color: var(--primaryColor);
    margin: 0 0.5rem;
}
.modal .redeemableTotal svg {
    height: 1.2rem;
    width: 1.2rem;
}
.mainContent{
    height: calc(100% - var(--headerHeight));
}
.screen {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 8rem;
}
.mainContent #home section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mainContent #home section .title{
    font-size: 1.6rem;
    margin: 1rem 0 0.4rem 0;
}
.mainContent #home section .task {
    --colorBg1: #0000000f;
    --colorBg2: #00000011;
    --colorBg3: #00000055;
    width: 100%;
    height: 5rem;
    margin: 0.2em 0;
    background-color: var(--colorBg1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
}
.mainContent #home section .sub.task {
    width: 94%;
    margin-left: auto;
    position: relative;
}
.mainContent #home section .sub.task::after {
    content: 'ï¹‚';
    position: absolute;
    right: 100%;
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transform: rotate(-90deg) scaleY(-1) translate(29%, 8%);
    color: var(--primaryColor);
}
.mainContent #home section .task.new {
    border: 4px dashed var(--primaryColor);
    background: var(--primaryColorOp);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primaryColor);
    margin-top: 1.4rem;
}
.mainContent #home section .task.new svg {
    width: 3rem;
    height: 3rem;
}
.mainContent #home section .task .info {
    width: calc(100% - 5rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.6rem;
    color: #444;
}
.mainContent #home section .task .info .name {
    padding-right: 1rem;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainContent #home section .task .info .points {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorBg3);
}
.mainContent #home section .task .checkBox {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    background-color: var(--colorBg2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContent #home section .task .checkBox svg{
    width: 70%;
    height: 70%;
    color: var(--primaryColor);
}
.mainContent #home section .task.completed{
    --colorBg1: var(--primaryColorOp);
    --colorBg2: var(--primaryColorOp);
    --colorBg3: var(--primaryColor);
}
footer{
    height: var(--footerHeight);
    width: 100%;
    position: absolute;
    bottom: 0;
}
#navbar_bubble{
    height: var(--footerHeight);
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar_bubble .action{
    z-index: 9;
    position: relative;
    height: var(--footerHeight);
    aspect-ratio: 1/1 ;
    overflow: hidden;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    font-size: calc(var(--footerHeight)*0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    cursor: pointer;
    padding: 0;
    bottom: 0;
    color: var(--primaryColor);
}

#navbar_bubble .action svg, #navbar_bubble .action svg, #navbar_bubble .action .iconFilled, #navbar_bubble .action .iconOutline{
    width: calc(var(--footerHeight)*0.4);
    height: calc(var(--footerHeight)*0.4);
}
#navbar_bubble .action:not(.active) .iconFilled{
    display: none;
}
#navbar_bubble .action.active .iconOutline{
    display: none;
}
#navbar_bubble .action.active{
    bottom: calc(var(--footerHeight)/2);
    color: #fff;
}
#navbar_bubble .bubbleContent{
    position: absolute;
    z-index: 1;
    width: 200%;
    height: 100%;
    left: -50%;
    bottom: 0%;
}
#navbar_bubble .bubbleContent .bubbleElem{
    position: absolute;
    height: var(--footerHeight);
    bottom: calc(var(--footerHeight)/2);
    z-index: 5;
    aspect-ratio: 1/1 ;
    overflow: hidden;
    border-radius: 100%;
    background-color: var(--primaryColor);
    left: 50%;
    transform: translateX(-50%);
}
#navbar_bubble .bubbleContent .bubbleLeft, #navbar_bubble .bubbleContent .bubbleRight{
    position: absolute;
    z-index: 3;
    width: calc(50%);
    height: 100%;
    bottom: 0%;
    background-color: var(--footerBackground);
}
#navbar_bubble .bubbleContent .bubbleLeft{
    right: calc(50% + var(--footerHeight)*0.54);
    border-top-right-radius: calc(var(--footerHeight)*0.25);
}
#navbar_bubble .bubbleContent .bubbleRight{
    left:  calc(50% + var(--footerHeight)*0.54);
    border-top-left-radius:  calc(var(--footerHeight)*0.25);
}

#navbar_bubble .bubbleContent .bubbleCenter{
    position: absolute;
    z-index: 2;
    width: calc(var(--footerHeight)*1.1);
    height: calc(var(--footerHeight)*0.8);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    overflow: hidden;
}
#navbar_bubble .bubbleContent .bubbleCenter .scoopLeft::after, #navbar_bubble .bubbleContent .bubbleCenter .scoopRight::after{
    content: '';
    position: absolute;
    z-index: 2;
    width: calc(var(--footerHeight)*0.58);
    height: calc(var(--footerHeight)*1);
    corner-shape: scoop;
    bottom: 0;
    background-color: var(--footerBackground);
}
#navbar_bubble .bubbleContent .bubbleCenter .scoopLeft::after{
    border-top-right-radius: calc(var(--footerHeight)*0.7);
    left:calc(var(--footerHeight)*-0.02);
}
#navbar_bubble .bubbleContent .bubbleCenter .scoopRight::after{
    border-top-left-radius: calc(var(--footerHeight)*0.7);
    right:calc(var(--footerHeight)*-0.02);
}