:root{
    --appBackground: #e0e0e0;
    --headerHeight: 64px;
    --footerHeight: 70px;
    --footerBackground: #fff;
    --footerButtonBackground: #ff9100;
}

html, body{
    height:100%;
    width:100%;
    position: relative;
    background-color: var(--appBackground);
    margin: 0;
    overflow-x: hidden;
}
header{
    height: var(--headerHeight);
    width: 100%;
    background-color: red;
}
.mainContent{
    height: calc(100% - var(--headerHeight) - var(--footerHeight));
}
footer{
    height: var(--footerHeight);
    width: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer .action{
    z-index: 9;
    position: relative;
    height: var(--footerHeight);
    aspect-ratio: 1/1 ;
    overflow: hidden;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    color: #555;
    font-size: calc(var(--footerHeight)*0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    bottom: 0;
}
footer .action.active{
    bottom: calc(var(--footerHeight)/2);
}
.bubbleContent{
    position: absolute;
    z-index: 1;
    width: 200%;
    height: 100%;
    left: -50%;
    bottom: 0%;
}
.bubbleContent .bubbleElem{
    position: absolute;
    height: var(--footerHeight);
    bottom: calc(var(--footerHeight)/2);
    z-index: 5;
    aspect-ratio: 1/1 ;
    overflow: hidden;
    border-radius: 100%;
    background-color: var(--footerButtonBackground);
    left: 50%;
    transform: translateX(-50%);
}
.bubbleContent .bubbleLeft, .bubbleContent .bubbleRight{
    position: absolute;
    z-index: 3;
    width: calc(50%);
    height: 100%;
    bottom: 0%;
    background-color: var(--footerBackground);
}
.bubbleContent .bubbleLeft{
    right: calc(50% + var(--footerHeight)*0.54);
    border-top-right-radius: calc(var(--footerHeight)*0.25);
}
.bubbleContent .bubbleRight{
    left:  calc(50% + var(--footerHeight)*0.54);
    border-top-left-radius:  calc(var(--footerHeight)*0.25);
}

.bubbleContent .bubbleCenter{
    position: absolute;
    z-index: 2;
    width: calc(var(--footerHeight)*1.1);
    height: calc(var(--footerHeight)*0.8);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    overflow: hidden;
}
.bubbleContent .bubbleCenter .scoopLeft::after, .bubbleContent .bubbleCenter .scoopRight::after{
    content: '';
    position: absolute;
    z-index: 2;
    width: calc(var(--footerHeight)*0.58);
    height: calc(var(--footerHeight)*1);
    corner-shape: scoop;
    bottom: 0;
    background-color: var(--footerBackground);
}
.bubbleContent .bubbleCenter .scoopLeft::after{
    border-top-right-radius: calc(var(--footerHeight)*0.7);
    left:calc(var(--footerHeight)*-0.02);
}
.bubbleContent .bubbleCenter .scoopRight::after{
    border-top-left-radius: calc(var(--footerHeight)*0.7);
    right:calc(var(--footerHeight)*-0.02);
}